<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-sm-6 col-md-4">
      <h3 class="mb-3">Login</h3>
      <form (ngSubmit)="login()">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            id="username"
            type="text"
            [(ngModel)]="username"
            name="username"
            class="form-control"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            id="password"
            type="password"
            [(ngModel)]="password"
            name="password"
            class="form-control"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
      </form>
    </div>
  </div>
</div>